td, th{
    padding: 8px;
    border: 1px solid black;
    font-size: large;
}
table{
    border-collapse: collapse;
}
.input_create{
    width: 99%;
    margin: 0;
    padding: 0;
}
.fa-edit{
    color: orange;
    text-decoration: none;
}
.fa-times{
    color: darkred;
    text-decoration: none;
}